header {
  position: relative;
}

nav {
  height: 50px;
  background: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding: 10px 70px;
}
.menu_link {
  height: 31px;
  color: #ffffff;
  font-size: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_offisial {
  height: 36px;
  font-weight: 400;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}
.subheader_call {
  font-weight: 400;
  font-size: 13px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 19px;
  text-align: right;
  color: #ffffff;
}
.subheader_phone {
  font-weight: 400;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 19px;
  color: #ffffff;
}
.subheader .subheader_btn {
  position: absolute;
  width: 172px;
  height: 46px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 21px 0 19px 0;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader .subheader_btn:hover {
  background-image: none;
  background-color: #ff5656;
}

.promo {
  height: 851px;
  background: url("./../img/uber_bg.png") center center/cover no-repeat;
}
.promo_header {
  margin-top: 150px;
  height: 90px;
  font-weight: 700;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 60px;
  color: #ffffff;
}
.promo .promo_subheader {
  font-weight: 400;
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
  color: #ffffff;
}
.promo_descr {
  height: 173px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.promo .promo_btn {
  width: 259px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  margin: 116px auto 0 auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  height: 63px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo .promo_btn:hover {
  background-image: none;
  background-color: #ff5656;
}

.reasons {
  padding: 71px 0 65px 0;
}

.reasons .reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.reasons .reasons_block .reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1EACC7;
  border-radius: 100%;
}
.reasons .reasons_block .reasons_descr {
  width: 343px;
}
.reasons .reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1EACC7;
  font-size: 17px;
  font-weight: 400;
}
.reasons .reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  margin: 0px auto;
  width: 115px;
  height: 27px;
  padding: 5px 0 13px 0;
  font-size: 13px;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}
.label_item {
  height: 27px;
  background-color: #FFFFFF;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #070716;
}
.label_white {
  background-color: #ffffff;
  color: #000;
}

.title {
  margin-bottom: 0;
  margin-top: 36px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.title_white {
  color: #fff;
}

.subtitle {
  height: 21px;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
}
.subtitle_white {
  color: #fff;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 76px 0;
  background: url("./../img/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
}
.mobile_item_1 {
  background: url("./../img/card1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("./../img/card2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("./../img/card3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("./../img/card4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("./../img/card5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("./../img/card6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  padding-top: 110px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 34px;
  height: 34px;
  color: #1EACC7;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #000000;
  cursor: pointer;
}
.mobile_item_plus::before {
  display: block;
  content: "";
  -webkit-transition: 0.3 all;
  transition: 0.3 all;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
}
.mobile_item_plus::after {
  display: block;
  position: absolute;
  -webkit-transition: 0.5 all;
  transition: 0.5 all;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
}
.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: #ff5656;
}

.choice {
  position: relative;
  min-height: 895px;
  padding: 76px auto 0 auto;
  background: url("./../img/podogka.png");
}
.choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
}
.choice_descr {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}
.choice .black {
  position: absolute;
  height: 502px;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #070716;
}

.require {
  padding: 64px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  height: 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1CA8C3;
}
.require_list {
  list-style-type: none;
  margin-top: 21px;
}
.require_list li {
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  color: #222222;
}
.require_list li::before {
  content: "";
  position: absolute;
  left: -31px;
  top: 3px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("./../icons/layr.png") center center/cover no-repeat;
}
.require .wraning .require_title {
  color: #ff5656;
}
.require .wraning .require_list li::before {
  background: url("./../img/layer (1).png") center center/cover no-repeat;
}

.woldr {
  position: relative;
  height: 720px;
  padding: 49px 0;
  background: url("./../img/world_bg.png");
}
.woldr_link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 49px;
  height: 68px;
  font-weight: 400;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}
.woldr_link:hover {
  color: #fff;
  text-decoration: none;
}

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}
.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}
.footer_wrapper > div {
  width: 33%;
}
.footer_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer_social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}
.footer_social_item i {
  color: #fff;
}
.footer_links {
  width: 390px;
  margin: 0 auto;
}
.footer_links:hover {
  text-decoration: none;
}
.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_links_main a:hover {
  text-decoration: none;
}
.footer_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.footer_links_sub:hover {
  text-decoration: none;
}
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_links_sub a:hover {
  text-decoration: none;
}
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}
.footer_links_lang:hover {
  text-decoration: none;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .reasons_block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_descr {
    width: 300px;
  }
  .mobile_item {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_offisial {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 140px;
    height: 40px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_descr {
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    padding: 20px 15px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 3px;
    background: #FFFFFF;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .xc-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    right: 60px;
    width: 200px;
    margin: 0 auto;
  }
  .promo_header {
    line-height: 45px;
  }
  .promo_subheader {
    line-height: 45px;
  }
  .promo_descr {
    line-height: 18px;
  }
}
@media (max-width: 575px) {
  .subheader_offisial {
    display: none;
  }
  .subheader_logo {
    margin-top: 27px;
  }
  .subheader_phone {
    margin-top: 9px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader_btn {
    display: block;
    margin: 0 auto;
    width: 137px;
    height: 37px;
  }
  .promo {
    min-height: 400px;
    padding: 93px 0 33px 0;
  }
  .promo_header {
    font-size: 30px;
    line-height: 35px;
    padding: 0 24px;
  }
  .promo_descr {
    display: none;
  }
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo_btn {
    width: 189px;
    height: 50px;
    margin-top: 35px;
  }
  .menu {
    width: 30%;
    text-align: center;
  }
}